@font-face {
    font-family: Annatar;
    src: url("tngan.ttf");
}
@font-face {
    font-family: "CPS";
    src: url("CPS.otf");
}
@font-face {
    font-family: "Carlito";
    src: url("Carlito-Regular.ttf");
}

body{
    --top-text-color: #1b4f76;
    --standard-bgcolor: #1b4f76;
    --standard-button-color: #bbccd3;
    --standard-page-background: #fff6ef;
    --content-text: black;
    --title-color: black;
    --main-content-background: #667966;
    --top-bar-color: #bc4139;
    --fact-color: #dc9991;
    --ImgBg: rgb(255, 246, 239, 0.7);
    font-family: 'Calibri';
    background-color: var(--standard-page-background);
}


body.dark-mode{
    --top-text-color: #bbccd3;
    --standard-bgcolor: #bbccd3;
    --standard-button-color: #1b4f76;
    --standard-page-background: #212029;
    --title-color: white;
    --main-content-background: #796679;
    --top-bar-color: #814342;
    --fact-color: #a87976;
    --ImgBg: rgb(33, 32, 41, 0.7);
}
body.dark-mode img.search-lense{
    filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(3944%) hue-rotate(172deg) brightness(85%) contrast(93%);
}
body.dark-mode img.login{
    filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(3944%) hue-rotate(172deg) brightness(85%) contrast(93%);
}
body.dark-mode .dropdown button img{
    filter: brightness(0) saturate(100%) invert(96%) sepia(2%) saturate(3944%) hue-rotate(172deg) brightness(85%) contrast(93%);
}
body.dark-mode img.bg{
    filter: brightness(0) saturate(100%) invert(26%) sepia(8%) saturate(4289%) hue-rotate(314deg) brightness(97%) contrast(75%);
}




a{
    color: black;
}

.wrapper{
    width: 100%;
    font-family: 'Carlito';
}

/* Main Buttons */
.home-wrap{
    position: absolute;
    display: block;
    width: 740px;
    left: 58%;
    top: 18%;
}
.home-bg{
    position: relative;
    background-color: var(--standard-bgcolor);
    padding: 8px;
    width: 290px;
    height: 160px;
    border-radius: 20px;
    margin: 5px 20px 5px 20px;
    display: inline-flex;
    align-items: center;
    z-index: 8;
}
.home-arg{
    background-color: var(--standard-button-color);
    position: absolute;
    width: 290px;
    height: 160px;
    border-radius: 20px;
    color: var(--title-color);
    align-items: center;
    display: inline-flex;
    z-index: 10;
    cursor: pointer;
   
}
.home-arg p{
    font-weight: bold;
	font-size: 4.5rem;
    font-family: 'CPS';
    padding-left: 30px;
}
.home-bg:hover{
    align-items: normal;
}
.home-arg:hover{
    width: 270px;
    height: 150px;
}

/* Home Button*/
.home-mainBg{
    position: absolute;
    background-color: var(--standard-bgcolor);
    left: 180px;
    top: 25%;
    padding: 14px;
    width: 600px;
    height: 390px;
    border-radius: 20px;
    margin: 6px 20px 6px 20px;
    display: block;
    align-items: center;
    z-index: 8;
}
.home-title{
    background-color: var(--standard-button-color);
    position: absolute;
    width: 600px;
    height: 390px;
    border-radius: 20px;
    color: var(--title-color);
    align-items: center;
    text-align: left;
    display: inline-flex;
    z-index: 10;
   
}
.home-title p{
    display: block;
    position: absolute;
    transform: translate(50%, 0%);
    font-weight: bold;
	font-size: 10rem;
    font-family: 'CPS';
}
.home-title h7{
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
	font-size: 80px;
    font-family: 'CPS';
}

/* Top */

.undertop{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--top-bar-color);
    width: 100%;
    height: 140px;
    z-index: 10;
}

p.top{
    position: relative;
    display: inline-block;
    padding-left: 35px;
    top: -22px;
    left: 38%;
    font-weight: bold;
	font-size: 4.5rem;
    font-family: 'CPS';
    letter-spacing: 2px;
    color: var(--top-text-color);
}

a.top{
    text-decoration: none;
    color: var(--top-text-color);
}


img.logo{
    position: fixed;
    width: 140px;
    height: 140px;
    left: 90px;
    top: 90px;
    transform: translate(-50%, -50%);
    z-index: 12;
}

img.search-lense{
    top: 68.5px;
    left: 89.8%; 
    z-index: 10;
    position: fixed;
    height: 52px;
    margin-left: 10px;
}
.search-box{
    position: fixed;
    top: 68.5px;
    left: 68%;
    width: 21%;
    background-color: var(--standard-page-background);
    border: 8px solid var(--standard-bgcolor);
    border-radius: 36px;
    z-index: 12;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    border-color: none;
}
input.search-bar{
    width: 100%;
    height: 36px;
    border: none; 
    color: var(--title-color);
    background-color: transparent;
    font-size: 1.25rem;
    padding: 0px 20px 0px 20px;
}
input.search-bar:focus{
    border: 0;
    outline: none;
}
input.search-bar::placeholder{
    color: #bbccd3;
}
.result-box ul{
    transform: translate(-40px,0);
    background-color: transparent; 
    color: var(--title-color);
}
.result-box ul li{
    list-style: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 20px;
    margin-right: -40px;
    font-size: 1.25rem;
    font-weight: bold;
}
.result-box ul li:hover{
    background-color: var(--standard-button-color);
}

/* Main Imgs*/

img.bg{
    position: fixed;
    width: 100%;
    height: 101%;
    z-index: -1;
    transform: translate(-10px,-8.5px);
}
img.login{
    position: fixed;
    height: 100px;
    left: 94%;
    top: 35px;
    z-index: 10;
}

/* Standard Page */

.side-contentBg{
    position: fixed;
    background-color: var(--standard-bgcolor);
    left: 180px;
    top: 59%;
    padding: 12px;
    width: 31%;
    height: 34%;
    border-radius: 30px;
    margin: 6px 20px 6px 20px;
    display: inline-flex;
    align-items: center;
    z-index: 8;
}
.side-contentBgImg{
    position: fixed;
    background-color: var(--standard-bgcolor);
    left: 180px;
    top: 21%;
    padding: 12px;
    width: 31%;
    height: 34%;
    border-radius: 30px;
    margin: 6px 20px 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}
.side-content{
    background-color: var(--standard-button-color);
    position: fixed;
    width: 31%;
    height: 34%;
    border-radius: 30px;
    color: var(--content-text);
    align-items: top;
    text-align: left;
    display: inline-flex;
    z-index: 10;
    overflow-y: scroll;
}
.side-contentBgFacts{
    position: fixed;
    background-color: var(--top-bar-color);
    border: 8px solid var(--standard-page-background);
    left: 210px;
    top: 20%;
    padding: 12px;
    width: 31%;
    height: 20%;
    border-radius: 30px;
    margin: 6px 20px 6px 20px;
    display: inline-flex;
    align-items: center;
    z-index: 8;
}
.side-contentFacts{
    background-color: var(--fact-color);
    position: fixed;
    width: 31%;
    height: 20%;
    border-radius: 30px;
    color: white;
    align-items: top;
    text-align: left;
    display: inline-flex;
    z-index: 10;
    overflow-y: scroll;
}
.side-contentFacts p{
    padding: 16px;
    transform: translateY(-16%);
    font-size: 1.25rem;
}
.side-contentBgImg img{
    max-width: 580px;
    max-height: 320px;
    border-radius: 30px;
    margin: auto;
    display: block;
    position: relative;
}
.side-contentBgImg p{
    display: none;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    background-color: var(--ImgBg);
    color: var(--title-color);
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 2;
}
.side-contentBgImg:hover{
    transition: 1s;
    p{
    display: block;
    }
}
.side-contentBgMap{
    position: fixed;
    background-color: var(--standard-bgcolor);
    left: 20px;
    top: 47%;
    padding: 12px;
    width: 42vw;
    height: 24vw;
    border-radius: 30px;
    margin: 6px 20px 6px 20px;
    display: inline-flex;
    align-items: center;
    z-index: 8;
}
.side-contentBgMap img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.side-content p{
    padding: 20px;
    display: block;
    position: absolute;
    font-size: 30px;
    top: -30px;
    color: var(--title-color);
}

.side-content ol{
    position: relative;
    right: -30px;
    font-size: 1.25rem;
    list-style-type: upper-roman;
    color: var(--title-color);
}
.side-content ol li{
    color: var(--title-color);
}
.side-content a{
    text-decoration: none;
    color: var(--title-color);
}

.main-contentBg{
    position: fixed;
    background-color: var(--standard-bgcolor);
    left: 47%;
    top: 380px;
    padding: 12px;
    width: 44%;
    height: 55%;
    border-radius: 40px;
    margin: 6px 20px 6px 20px;
    display: inline-flex;
    align-items: center;
    z-index: 8;
}
.main-content{
    background-color: var(--main-content-background);
    position: fixed;
    width: 44%;
    height: 55%;
    border-radius: 40px;
    color: black;
    align-items: top;
    text-align: left;
    z-index: 10;
    overflow-y: scroll;
}


p.title{
    position: fixed;
    left: 48%;
    top: 120px;
    font-family: 'CPS';
    font-size: 7.5rem;
    color: var(--top-text-color);
    font-weight: bold; 
}
p.subtitle1{
    position: relative;
    display: block;
    padding: 0px 30px 0px 30px;
    font-size: 2.75rem;
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 15px;
    -webkit-text-stroke: 0.05px white;
    color: #bc4139;
}
p.subtitle2{
    position: relative;
    display: block;
    padding: 0px 30px 0px 30px;
    font-size: 2.75rem;
    font-weight: bold;
    -webkit-text-stroke: 0.05px white;
    color: #1b4f76;
}
p.argument{
    top: -30px;
    position: relative;
    display: block;
    padding: 0px 30px 0px 30px;
    font-size: 1.25rem;
    color: white;
}
.main-content ol {
    position: relative;
    display: block;
    padding: 0px 30px 0px 12%;
    font-size: 1.25rem;
    color: white;
    width: 80%;
}
.main-content ul{
    position: relative;
    display: block;
    padding: 0px 30px 0px 12%;
    font-size: 1.25rem;
    color: white;
    width: 80%;
}
a.link{
    text-decoration: none;
    font-weight: bold;
    color: #1b4f76;
    transition: 0.15s;
}
a.TitleLink{
    text-decoration: none;
    font-weight: bold;
    transition: 0.15s;
    color: inherit;
}
a.link:hover{
    color: #bbccd3;
    cursor: pointer;
}
a.TitleLink:hover{
    color: white;
    cursor: pointer;
}
/* Scrollbar */
.main-content::-webkit-scrollbar{
    position: relative;
    width: 10px;
}
.main-content::-webkit-scrollbar-track{
    background: none;
    height: 30%;
}
.main-content::-webkit-scrollbar-thumb{
    background: var(--top-bar-color);
    border-radius: 40px;
    width: 1px;
}
.flex-wrap::-webkit-scrollbar{
    position: relative;
    width: 10px;
}
.flex-wrap::-webkit-scrollbar-track{
    background: none;
    height: 30%;
}
.flex-wrap::-webkit-scrollbar-thumb{
    background: var(--top-bar-color);
    border-radius: 40px;
    width: 1px;
}
.side-contentFacts::-webkit-scrollbar{
    position: relative;
    width: 10px;
}
.side-contentFacts::-webkit-scrollbar-track{
    background: none;
    height: 30%;
}
.side-contentFacts::-webkit-scrollbar-thumb{
    background: var(--standard-page-background);
    border-radius: 40px;
    width: 1px;
}
.side-content::-webkit-scrollbar{
    position: relative;
    width: 10px;
}
.side-content::-webkit-scrollbar-track{
    background: none;
    height: 30%;
}
.side-content::-webkit-scrollbar-thumb{
    background: var(--top-bar-color);
    border-radius: 40px;
    width: 1px;
}


/* Recommended */
p.recommended{
    position: relative;
    display: block;
    padding: 0px 30px 0px 30px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: left;
}
.recommend{
    position: relative;
    align-items: center;
    background-color: none;
    margin: 30px;
    text-align: center;
}
.recommend-wrap{
    display: inline-block;
    background-color: var(--standard-button-color);
    margin: 10px;
    width: 30%;
    height: 220px;
    border-radius: 20px;
}
.recommend-wrap img{
    position: relative;
    max-width: 90%;
    height: 180px;
    top: 6px;
    object-fit: contain;
    max-height: 180px;
    border-radius: 15px;
}
.recommend-wrap p{
    position: relative;
    bottom: 12px;
    color: var(--title-color);
    font-weight: bold;
    font-size: 18px;
}
.recommend-wrap:hover{
    transform: scale(0.98);
    transition: 0.3s;
    cursor: pointer;
}

/* Flex Page */

.flex-wrap{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: baseline;
    left: 180px;
    top: 200px;
    width: 84%;
    height: 660px;
    overflow-y: scroll;
}
.item-bg{
    position: relative;
    display: inline-flex;
    background-color: var(--standard-bgcolor);
    width: 20%;
    height: 200px;
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
}

.item-bg img{
    position: relative;
    display: flex;
    max-width: 95%;
    max-height: 182px;
    top: 0%;
    align-items: center;
    object-fit: contain;
    max-height: 180px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.item-bg p{
    position: absolute;
    top: 140px;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--title-color);
    font-size: 2rem;
    text-align: center; 
    z-index: 2;
    pointer-events: none; 
    background-color: var(--ImgBg);
    border-radius: 15px;
    padding: 1px 10px 1px 10px;
    width: 80%;
}
.item-bg a{
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 182px;
    top: 0%;
    align-items: center;
    object-fit: contain;
    max-height: 180px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.item-bg img:hover{
    transform: scale(0.98);
    transition: 0.3s;
    cursor: pointer;
}
/* Responsiveness */

@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .wrapper{
        display: flex;
        justify-content: center;
    }
    .undertop{
        display: block;
        width: 100%;
    }
    img.bg{
        display: none;
    }
    img.logo{
        width: 120px;
        height: 120px;
        left: 70px;
        top: 70px;
        }
    .dropdown button{
        display: block;
        top: 44px;
        left: 84%;
    }
    img.login{
        left: 78%;
        top: 20px;
    }
    img.search-lense{
        display: none;
    }
    .search-box{
        left: 33%;
        top: 40px;
        width: 44%;
    }
    input.search-bar{
        height: 40px;
    }
    .home-mainBg{
        width: 340px;
        height: 280px;
        left: 50%;
        transform: translate(-50%, 0%);
        margin: 0px;
        top: 160px;
        padding: 14px;
    }
    .home-title{
        width: 340px;
        height: 280px;
    }
    .home-title p{
        font-size: 10rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 9rem;
        height: 240px;
    }
    p.top{
        display: none;
    }
    .home-wrap{
        display: block;
        left: 50%;
        margin: 0px;
        transform: translateX(-50%);
        width: 376px;
        top: 480px;
        max-width: 500px;
    }
    .home-bg{
        width: 170px;
        height: 120px;
        margin: 0px;
    }
    .home-arg{
        width: 170px;
        margin: 0px;
        height: 120px;
    }
    .home-arg p{
        padding: 5px;
        font-weight: normal;
        font-size: 3.2rem;
    }
    .home-bg:hover{
        align-items: normal;
    }
    .home-arg:hover{
        width: 180px;
        height: 120px;
    }
    .side-contentBg{
        display: none;
    }
    .side-contentBgImg{
        width: 96%;
        height: auto;
        max-height: 30vh;
        margin: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 160px;
        padding: 5px;
        border-radius: 20px;
    }
    .side-contentBgImg img{
        max-width: 100%;
        max-height: 30vh;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .side-contentBgImg p{
        display: block;
    }
    .main-contentBg{
        position: absolute;
        width: 96%;
        height: 600px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 560px;
        padding: 5px;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
    }
    .main-content{
        width: 96%;
        height: 600px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 7px;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
    }
    p.title{
        left: 50%;
        transform: translate(-50%, 0%);
        width: fit-content;
        top: 47vh;
        font-size: 4rem;
        white-space: nowrap;
    }
    .recommend{
        width: 300px;
        left: 50%;
        transform: translate(-60%, 0%);
    }
    .recommend-wrap{
        width: 90%;
    }
    .flex-wrap{
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        height: 600px;
    }
    .item-bg{
        width: 90%;
        height: 200px;
    }
    .side-contentBgMap{
        width: 96%;
        height: auto;
        margin: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: 160px;
        padding: 5px;
        max-height: 34vh;
        border-radius: 20px;
    }
    .side-contentBgMap img{
        max-height: 34vh;
    }
    .side-contentBgFacts{
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1200px){
    p.top{
        left: 14%;
        padding-left: 20px;
    }
    .search-box{
        left: 64%;
    }
    img.search-lense{
        left: 86%;
    }
    img.login{
        left: 92%;
    }
    .home-mainBg{
        left: 15%;
        width: 340px;
        height: 270px;
    }
    .home-title{
        width: 340px;
        height: 270px;
    }
    .home-title p{
        font-size: 10rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 9rem;
        height: 240px;
    }
    .home-wrap{
        width: 492px;
        left: 56%;
        top: 20%;
    }
    .home-bg{
        width: 220px;
        height: 116px;
        margin: 2px 4px 2px 4px;
    }
    .home-arg{
        width: 220px;
        height: 116px;
    }
    .home-arg p{
        font-size: 4rem;
        padding: 15px;
    }
    .side-contentBgImg img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .side-contentBgImg p{
        display: block;
    }
    .main-contentBg{
        left: 50%;
        top: 310px;
    }
    p.title{
        top: 70px;
        left: 54%;
    }
    .flex-wrap{
        height: 550px;
    }
    .item-bg{
        width: 28%;
    }
    .recommend-wrap{
        width: 45%;
    }
    .side-contentBgFacts{
        left: 12%;
        width: 34%;
    }
    .side-contentFacts{
        width: 34%;
    }
}
    
@media (min-width: 1200px) and (max-width: 1600px){
    p.top{
        left: 16%;
    }
    .search-box{
        left: 64%;
    }
    img.search-lense{
        left: 86%;
    }
    img.login{
        left: 92%;
    }
    .home-mainBg{
        left: 15%;
        width: 440px;
        height: 330px;
    }
    .home-title{
        width: 440px;
        height: 330px;
    }
    .home-title p{
        font-size: 10rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 9rem;
        height: 240px;
    }
    .home-wrap{
        left: 54%;
        width: 616px;
    }
    .home-bg{
        margin: 5px 10px 5px 10px;
        width: 270px;
        height: 150px;
    }
    .home-arg{
        width: 270px;
        height: 150px;
    }
    p.title{
        left: 52%;
        top: 90px;
    }
    .main-contentBg{
        left: 50%;
        top: 340px
    }
    .recommend-wrap{
        width: 45%;
    }
    .side-contentBgImg p{
        display: block;
    }
}

